html, body {
    height: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #tela {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #text-input {
    width: 600px;
    border: 1px solid #ddd;
    height: 40px;
    padding: 0 20px;
    font-size: 14px;
    margin: 10px 0;
  } 
  
    button {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  left: 1000px;
  margin-top: -10px;
  margin: 10px 0; 
  } 
  
  .messages {
    width: 600px;
    height: 300px;
    margin: 0px 0;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: white;
    overflow:auto;
  }

  .bd{
    background: rgb(235, 235, 235);
  }
    /*  .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
   display: inline-block; 
}  */
  
  .btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  left: 1000px;
}

  .upload-btn-wrapper input[type=file] {
  font-size: 20px;
  opacity: 0;
  margin-top: -42px; 
  width: 207px;
  height: 40px;
} 

.imagem img {
  max-width:200px;
  max-height:150px;
  width: auto;
  height: auto;
}

strong{
  color:  rgb(58, 114, 56);
  font-weight: bold;
  font-family: Arial;

}
